.section-summary-invoice {
  display: grid;
  grid-template-columns: 1fr 550px;
  margin: 20px 0;
}
.section-summary-invoice div:nth-child(1) {
  color: gray;
}
.section-summary-invoice div:nth-child(2) {
  margin: 10px auto;
}
.info-summary {
  display: grid;
  grid-template-columns: 1fr 80px 80px;
  align-items: center;
  font-size: 16px;
}
.info-summary div:nth-child(2) {
  margin: auto 10px auto auto;
}

  
.total {
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
}
.total2 {
  color: blueviolet;
  
}
img{
  width: 40px;
  height: 30px;
}

@media screen and (max-width: 760px) {
  .section-summary-invoice {
    grid-template-columns: 100%;
  }
}
